{% extends "base.html" %}
{% load humanize %}

{% block header %}
    {{ league.name }}
{% endblock %}

{% block content %}
{% load staticfiles %}
{% if standings %}
	<table class='table'>
        <thead>
        	<tr>
        		<td>Pos</td>
        		<td>Team</td>
        		<td>#Played</td>
        		<td>Score</td>
        		<td>Winrate</td>
        	</tr>
        </thead>
        <tbody>
			{% for standing in standings %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>
					{% if standing.team.icon %}
					<img src="/media/{{ standing.team.icon }}" />
					{% endif %}
					<a href="/team/{{ standing.team.id }}/">{{ standing.team.name }}</a></td>
					
		                        <td>{{standing.wins|add:standing.losses}}</td>
					<td> {{ standing.wins }} - {{ standing.losses }}</td>
		                        <td> {{ standing.score }}%</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
<hr/>
<h2>Recent Matches</h2>
<table cellpadding='8px'>
{% for match in matches %}
	<tr>
		<td> {{ match.date }} </td>
		<td> {{ match.teamone.name }} vs. {{ match.teamtwo.name }}</td>
		<td> {{ match.teamonescore }} - {{ match.teamtwoscore }}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
