{% extends "base.html"  %}
{% load tour_extras %}
{% block header %}{{ tournament.name }}{% endblock %}

{% block content %}
	<h4>Winnerbracket</h4>
	<div class="row">
	{% for tier in wmatchups %}
	<div class="span2">
		
		{% for i in tier|get_range_l %}
			<div class="row"><div class="span1">&nbsp;</div></div>
		{% endfor %}

		{% for matchup in tier|get_dict_val:'data' %}
			<table class="table table-bordered table-condensed">
			<tr class="teamrow team_{{ matchup.teamone.id }}">
				<td>{{ matchup.teamonescore }}</td>
				<td>{{ matchup.teamone }}</td>
			</tr>
			<tr class="teamrow team_{{ matchup.teamtwo.id }}">
				<td>{{ matchup.teamtwoscore }}</td>
				<td>{{ matchup.teamtwo }}</td>
			</tr>
			</table>
		{% endfor %}
	</div>
	{% endfor %}
	</div>
	<h4>Loserbracket</h4>
	<div class="row">
	{% for tier in lmatchups %}
	<div class="span2">
		
		{% for i in tier|get_range_l %}
			<div class="row"><div class="span1">&nbsp;</div></div>
		{% endfor %}

		{% for matchup in tier|get_dict_val:'data' %}
			<table class="table table-bordered table-condensed">
			<tr class="teamrow team_{{ matchup.teamone.id }}">
				<td>{{ matchup.teamonescore }}</td>
				<td>{{ matchup.teamone }}</td>
			</tr>
			<tr class="teamrow team_{{ matchup.teamtwo.id }}">
				<td>{{ matchup.teamtwoscore }}</td>
				<td>{{ matchup.teamtwo }}</td>
			</tr>
			</table>
		{% endfor %}
	</div>
	{% endfor %}
	</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$("tr.teamrow").click(function(){
	var num = $(this).attr('class');
	var start = num.indexOf('team_')+5;
	var end = num.indexOf(' ', start);
	if (end == -1)
		num = num.substring(start);
	else
		num = num.substring(start, end);
	if (num)
		window.location = "/team/"+num;
});
$("tr.teamrow").hover(function() {
	var num = $(this).attr('class');
	var start = num.indexOf('team_')+5;
	var end = num.indexOf(' ', start);
	if (end == -1)
		num = num.substring(start);
	else
		num = num.substring(start, end);
	if (num)
	{
		$(".team_"+num).addClass('info');
    	$(this).css('cursor','pointer');
    }
}, function() {
	var num = $(this).attr('class');
	var start = num.indexOf('team_')+5;
	var end = num.indexOf(' ', start);
	if (end == -1)
		num = num.substring(start);
	else
		num = num.substring(start, end);
	if (num)
	{
		$(".team_"+num).removeClass('info');
	    $(this).css('cursor','auto');
	}
});
</script>
{% endblock %}